body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root,
.appJsx,
.aboutJsx {
    height: 100%;
    min-height: 100vh;
}

.card {
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 90%;
}

.cardMedia {
    padding-top: 56.25%;
}

.cardContent {
    flex-grow: 1;
}

.contactForm,
.resumeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marginTop {
    margin-top: 100px;
}


